<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TaxCalculator.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RedisConnectionString" value="localhost:6379" />
    <add key="EnableCaching" value="true" />
    <add key="CacheExpirationHours" value="24" />
    <add key="LogLevel" value="Information" />
    <add key="LogFilePath" value="C:\Logs\TaxCalculator\" />
  </appSettings>
</configuration>